body {
    width: 100vw;
    height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
}

.placeholder {
    height: 100px;
}

/* 搜索部分 */
.search .search_choice ul {
    width: 700px;
    height: 40px;
    margin: 0 auto;
}

.search .search_choice ul li {
    float: left;
    width: 130px;
    height: 40px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, .4);
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: all .3s;
}

.search .search_choice ul li:hover,
.search .search_choice ul li:focus,
.search .search_choice ul li.active {
    background-color: #fff !important;
}

#bing {
    background: url(../images/logo/bing.png) rgba(255, 255, 255, .4) no-repeat center/90%;
}

#google {
    background: url(../images/logo/google.png) rgba(255, 255, 255, .4) no-repeat center/90%;
}

#baidu {
    background: url(../images/logo/baidu.png) rgba(255, 255, 255, .4) no-repeat center/90%;
}

#wikipedia {
    background: url(../images/logo/wikipedia.png) rgba(255, 255, 255, .4) no-repeat center/90%;
}

#zhihu {
    background: url(../images/logo/zhihu.png) rgba(255, 255, 255, .4) no-repeat center/90%;
}

.search .search_box {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: rgb(0, 0, 0, .5) 5px 5px 10px;
}

.search_box form .text {
    width: 740px;
    height: 50px;
    margin: 0 auto;
    padding-left: 25px;
    font-size: 19px;
    border-radius: 25px;
}

.search_box form .search_button {
    float: right;
    margin: 10px 18px 0 0;
    height: 30px;
}

/* 标签部分 */
.tab {
    width: 1200px;
    height: 390px;
    margin: 135px auto 0 auto;
}

/* 头 */
.tab_hd {
    width: 1200px;
    height: 40px;
}

.tab_hd ul {
    width: 1089px;
    height: 40px;
    margin: 0 auto;
}

.tab_hd ul li {
    float: left;
    width: 111px;
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, .3);
    text-align: center;
    font-size: 22px;
    color: #fff;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    transition: all .3s;
}

.tab_hd ul li:hover {
    background-color: rgba(255, 255, 255, .7);
    color: #000;
}

/* 身 */
.tab_bd {
    width: 1200px;
    height: 350px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, .5) 5px 5px 10px;
}

/* 切换大页面 */
.bd1 {
    display: block;
}

.bd2,
.bd3,
.bd4,
.bd5,
.bd6,
.bd7,
.bd8,
.bd9 {
    display: none;
}

/* 小页面样式与切换 */
.tab_choice {
    position: relative;
}

.choice {
    display: inline-block;
    position: absolute;
    height: 58.3px;
    width: 200px;
    padding-left: 22px;
    font-size: 25px;
    line-height: 57.5px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    cursor: pointer;
    transition: all .3s;
}

.choice1 {
    border-radius: 20px 0 0 0;
}
.choice2 {
    top: 58.3px;
}
.choice3 {
    top: 116.6px;
}
.choice4 {
    top: 174.9px;
}
.choice5 {
    top: 233.2px;
}

.choice6 {
    top: 291.5px;
    height: 59.5px;
    border-bottom: none;
    border-radius: 0 0 0 20px;
}

.choice:hover {
    background-color: rgba(255, 255, 255, .7);
}

.tab_content {
    width: 1000px;
    height: 350px;
    float: right;
    padding: 5px 20px;
}
.content1 {
    display: block;
}

.content2,
.content3,
.content4,
.content5,
.content6 {
    display: none;
}

/* content内部内容 */
.content ul li {
    float: left;
    width: 162px;
    height: 52px;
    margin: 8px 15px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    transition: all .3s;
}
.content ul li a {
    display: flex;
    width: 162px;
    height: 52px;
    justify-content: center;
    align-items: center;
}
.content ul li:hover,
.content ul li:focus {
    box-shadow: rgb(0, 0, 0, .5) 2px 2px 5px;
}
.content ul li img {
    width: 22px;
    display: inline;
    margin-right: 5px;
    text-align: center;
}
.content ul li h4 {
    font-weight: 400;
    display: inline;
    font-size: 16px;
}