body {
    font: 16px/28px "Microsoft YaHei"
}
h1 {
    text-align: center;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.time {
    color: #888888;
    font-size: 12px;
    text-align: center;
}
.search {
    color: #666;
    width: 170px;
}
button {
    font-weight: 700;
}
p{
    text-indent: 2em;
}
.img {
    text-align: center;
}
.footer {
    color: #888888;
    font-size: 12px;
}